:root {
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway',sans-serif;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --bg-color: #e5e5e5;
  --accent-color: #2196f3;
  --white-color: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
}

body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
  background: var(--bg-color);
}

.header {
  background-color: var(--white-color);
}

.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  color: #000000;
  text-decoration: none;
}

.logo > span {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  color: var(--accent-color);
}

.menu-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.hero {
  background-color: #2f303a;
}

.hero .title {
  font-size: 44px;
  color: var(--white-color);
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
}

.button {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  color: var(--white-color);
}

.hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 0 !important;
  width: 1px !important;
  overflow: hidden;
}

.features-subtitle {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.features-descr {
  font-size: 14px;
  line-height: 1.7;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: var(--secondary-text-color);
}

.team {
  background-color: #f5f4fa;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: var(--secondary-text-color);
}

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  color: var(--secondary-text-color);
}

.team-text {
  font-size: 16px;
}

.footer {
  background-color: #2f303a;
}

.footer .contacts {
  font-size: 14px;
  color: var(--white-color);
}

.footer .link {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.footer .logo {
  color: var(--white-color);
}

.btn {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  background: #f5f4fa;
  color: var(--secondary-text-color);
  border-radius: 4px;
  cursor: pointer;
}

.active:hover,
.active:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.card-title {
  font-weight: 700;
  font-size: 18px;
  color: var(--secondary-text-color);
}

.card-text {
  font-size: 16px;
}
